/**
 * ScrollTable
 */
.gwt-ScrollTable {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}

.gwt-ScrollTable .gwt-ScrollTable-header-wrapper {
  background: #8bd url(images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .gwt-ScrollTable-footer-wrapper {
	border-top: 1px solid #aaa;
  background: #8bd url(images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .gwt-ScrollTable-data td,
.gwt-ScrollTable .gwt-ScrollTable-header td,
.gwt-ScrollTable .gwt-ScrollTable-footer td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px;
}

.gwt-ScrollTable .gwt-ScrollTable-header td,
.gwt-ScrollTable .gwt-ScrollTable-footer td {
  color: #fff;
}
	
.gwt-ScrollTable .gwt-ScrollTable-data tr.hovering {
  background: #C3D9FF;
}

.gwt-ScrollTable .gwt-ScrollTable-data td.hovering {
  border: 1px solid blue;
  cursor: hand;
  cursor: pointer;
}

.gwt-ScrollTable .gwt-ScrollTable-data tr.selected {
  background: #7AA5D6;
}

.gwt-ScrollTable .pagingOptions {
  background: #e8eef7;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 1px 0px;
}

.gwt-ScrollTable .pagingOptions .errorLabel {
	color: red;
}

.gwt-CellEditor {
	border: 3px solid #7AA5D6;
	padding: 4px;
	background: white;
}
.gwt-CellEditor td {
  padding: 4px;
}

/**
 * TabPanel
 */
.gwt-TabBar {
}
.gwt-TabBar .gwt-TabBarFirst {
	border-right: 1px solid blue;
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
	padding: 7px;
	background: #EEEEEE;
	border-right: 1px solid blue;
	border-top: 1px solid blue;
}
.gwt-TabBar .gwt-TabBarItem-selected {
	background: #FFFF00;
}
.gwt-TabPanel {
}
.gwt-TabPanelBottom {
  padding: 5px;
  border: 2px solid blue;
}
