
.toolbar{
	width:100%;
	height:100%;	
	vertical-align: middle;
	background-color: # #d8d8d8;
	background-image: url(style/images/subtoolbar_bg.png);
  background-repeat: repeat-x;
  background-position: top center;
	border-top: none;
	border-left: none;
	border-left: none;	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #848484
}

.toolbar-group-label-disabled{	
	color: #777;
}

.toolbar-group-label{	
	color: #000;
}

.toolbar-button{
	background-color: transparent;
	margin: 1px; 
}

div{
	outline:0px;
  hideFocus: true;
}

img{
	outline: 0px;
  -moz-user-focus: none;
  user-focus: none;
}


.toolbar-button-hovering{
	background-color: #E8E8E8;
	border: 1px solid #AAA;
	cursor: pointer;
	margin: 0px;
}

.toolbar-toggle-button{
	margin: 1px;
}

.toolbar-toggle-button-down{
	border: 1px inset grey; 
	background-color: #E8E8E8;
	margin: 0px;
}

.toolbar-toggle-button-down-hovering{
	background-color: #E8E8E8;
	margin: 0px;
	cursor: pointer;
}

.toolbar-toggle-button-hovering{
	border: 1px solid #AAA;
	background-color: #E8E8E8;
	cursor: pointer;
	margin: 0px;
}

.toolbar-combo-button{
	margin: 1px;
	padding-right:14px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url("style/images/comboArrow.png");
	background-color: transparent;
}

.toolbar-combo-button-hovering{
	background-color: #E8E8E8;
	border: 1px solid #AAA;
	cursor: pointer;
	margin: 0px;	
}

.toolbar-button-disabled{
  background-color: transparent;
  margin: 1px;
}

.toolbar-button-disabled-hovering{
}

.toolbar-combo-button-disabled{
  margin: 1px;
  padding-right:14px;
  background-color: transparent;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("style/images/comboArrow.png");
}

.toolbar-combo-button-hovering{
  border: 1px solid #AAA;
  margin: 0px;  
}
