/** Add css rules here for your application.
Please, please comment all entries so that it is clear
which java class/code the style is associated with */

/* start snb */
/* default style for java class SimpleGroupBox */
.simpleGroupBox {
  padding: 5px;
}
/* begin recurrence dialog ------------------------------------------------------*/
.startLabel {
  padding-right: 1ex;
  white-space: nowrap;
  /*border:1px dotted red;*/
}
.middleLabel {
  padding-right: 1ex;
  padding-left: 1ex;
  white-space: nowrap;
  /*border:1px dotted red;*/
}
.endLabel {
  padding-left: 1ex;
  white-space: nowrap;
  /*border:1px dotted red;*/
}

.recurrenceRadioButton label {
  padding-right: 1ex;
  white-space: nowrap;
}

.weeklyRecurrencePanel {
}

/* begin schedule editor ------------------------------------------------------*/
.scheduleEditor {
  /* can't add a margin here, IE7 can't handle it */
  /*margin: 10px;*/
  /*background-color: #CCCCFF; for testing*/
  width: 100%;
}

.scheduleDescription {
  width: 70%;
  /*background-color: red; for testing */
}

.scheduleCombo {
  padding-right: 5px;
  margin-right: 5px;
}
/* end schedule editor ----------------------------------------------------------*/
/* end recurrence dialog ----------------------------------------------------------*/

/* style for error message associated with dialog controls with invalid data */
.errorLabel {
  background-color: #FFDDDD;
  color: #FF0000;
}

.progressPopupPanel {
  background-color: #EEEEEE;
  border: 1px dotted black;
}
.progressPopupPanel\.label {
}
.addBtn {
  width: 22px;
}
.deleteBtn {
  width: 22px;
}
/* end snb */

.tooltip{
  padding: 5px;
  border: 1px solid #666;
  background-color: #FAFAFA;
  max-width: 150px;
}

.tooltip-label{
  color: #444;
  font-family: Tahoma, Arial, sans-serif;
  font-size: .8em;
}

.roundedbutton{
  height: 27px;
}

.roundedbutton-label{
  font-family: Tahoma, Arial, sans-serif;
  font-size:.8em;
  line-height: 24px;
  color: #000
}

.roundedbutton-right{
  background: url('style/images/button_right.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-left{
  background: url('style/images/button_left.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-slice{
  background: url('style/images/button_middle.png') repeat-x;
}

.roundedbutton-over{
  cursor: pointer;
}

.roundedbutton-label-over{
  font-family: Tahoma, Arial, sans-serif;
  font-size:.8em;
  line-height: 24px;
  color: #525252
}

.roundedbutton-right-over{
  background: url('style/images/button_right_over.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-left-over{
  background: url('style/images/button_left_over.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-slice-over{
  background: url('style/images/button_middle_over.png') repeat-x;
}

.roundedbutton-label-disabled{
  font-family: Tahoma, Arial, sans-serif;
  font-size:.8em;
  line-height: 24px;
  color: #525252
}

.roundedbutton-right-disabled{
  background: url('style/images/button_right_disabled.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-left-disabled{
  background: url('style/images/button_left_disabled.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-slice-disabled{
  background: url('style/images/button_middle_disabled.png') repeat-x;
}


/* end menubar/menuitem styles ------------------------------------------------------*/

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-checked {
  cursor: hand;
  cursor: pointer;
  background-image:url(style/images/checkbox.png);
  background-position:6px 50%;
  background-repeat:no-repeat;
  padding:3px 20px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-checked-selected {
  background-color: #d0d0d0;  
  vertical-align: bottom;
}

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-unchecked {
  cursor: hand;
  cursor: pointer;
  background-image:url(style/images/checkbox-empty.png);
  background-position:6px 50%;
  background-repeat:no-repeat;
  padding:3px 20px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-unchecked-selected {
  background-color: #d0d0d0;  
  vertical-align: bottom;
}

.disabledMenuItem {
  color: gray;
  cursor: Default;
  padding:3px 20px 3px 20px;
  vertical-align: bottom; 
}

.gwt-MenuItem {
  color: black;
  padding:3px 20px 3px 20px;
}


.gwt-MenuBar {
  cursor: default;
}
.gwt-MenuBar .gwt-MenuItem {
  cursor: hand;
  cursor: pointer;
}
.gwt-MenuBar .gwt-MenuItem-selected {
  color: black;
}
.gwt-MenuBar-horizontal {
}
.gwt-MenuBar-horizontal .gwt-MenuItem {
  color: black;
  padding: 3px 6px 5px;
  vertical-align: bottom;
  border: 1px;
}
.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
  border: 1px solid #848484;
  background-color: #ececec;  
  color: black;
  padding: 2px 5px 4px;
  vertical-align: bottom;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
  width: 1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-left: 1px solid #888888;
  background: white;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
  width: 1px;
  background: white; 
}





.gwt-MenuBar-vertical {
  background-color: #ffffff;  
  margin-top: 0px;
  margin-left: 0px;
  border-top: 1px solid #848484;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #848484;
  padding: 2px;
}
.gwt-MenuBar-vertical table {
  border-collapse: collapse;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
  color: black;
  padding:3px 20px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-selected {
  background-color: #d0d0d0;  
  color: black;  
  vertical-align: bottom;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 0px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 5px;
  
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  height: 1px;
  overflow: hidden;
  border-top: 1px solid #777;
}


.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 4px;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
  background-color: #d0d0d0;
}


.gwt-MenuBarPopup {
  margin: 0px 0px 0px 0px;
}
.gwt-MenuBarPopup .menuPopupTopCenter {
}
html>body .gwt-MenuBarPopup .menuPopupBottomCenter {
}
* html .gwt-MenuBarPopup .menuPopupBottomCenter {
}
.gwt-MenuBarPopup .menuPopupMiddleLeft {
}
html>body .gwt-MenuBarPopup .menuPopupMiddleRight {
}
* html .gwt-MenuBarPopup .menuPopupMiddleRight {
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
}
* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 41px;
  margin-top: -36px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 13px;
  height: 41px;
  margin-left: -5px;
  margin-top: -36px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 49px;
  margin-top: -41px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 13px;
  height: 49px;
  margin-left: -5px;
  margin-top: -41px;
  overflow: hidden;
}

/* end menubar/menuitem styles ------------------------------------------------------*/



/* begin dialog styles ------------------------------------------------------*/

.modalDialogPageBackground {
  opacity: 0.05;
  background-color:  #000000;
  /* Transparency for IE */
  background-image: expression('url(style/images/wait-background.gif)');
  background-color: expression('transparent');
  /*
  opacity: 0.05;
  position: expression('absolute');
  height: expression(document.documentElement.scrollHeight+'px');
  width: expression(document.documentElement.scrollWidth+'px');
  */
  cursor: wait;
} 

.dialogButtonPanel {
  border-top: 1px solid #848484;
  background-color: #ececec;
}

.gwt-DialogBox {
  background-color: #ececec;
  border: 1px solid #848484;
}

.gwt-DialogBox .Caption {
  background-image: url(style/images/subtoolbar_bg.png);
  background-color: #d3d3d3;
  color: black;
  cursor: move;
  border-bottom: 1px solid #848484;
  text-align: left;
  padding: 6px 0px 6px 5px;
}

.gwt-DialogBox .dialogMiddleCenter {
  height: 100%;
}

.gwt-DialogBox .dialogMiddleCenterInner {
  height: 100%;
}

/* Begin Wizard Styles ------------------------------------------------------ */ 
.pentaho-wizard-deck-panel {
	height: 80%;
	width: 100%;
}

.pentaho-wizard-button-panel {
	height: 100%;
	vertical-align: bottom;
}
.pentaho-wizard-panel {
	height: 100%;
	width: 100%;
}

.pentaho-schedule-create {
	padding: 10px;
	width: 100%;
}

.pentaho-wizard-cancel-button {
	horizontal-align: right;
	vertical-align: bottom;
}

.pentaho-wizard-finish-button {
	horizontal-align: right;
	vertical-align: bottom;
}

.pentaho-wizard-next-button {
	horizontal-align: right;
	vertical-align: bottom;
}

.pentaho-wizard-back-button {
	horizontal-align: right;
	vertical-align: bottom;
}

/* End Wizard Styles -------------------------------------------------------- */

body{
	font-family:Tahoma,Arial,Helvetica,sans-serif;
}

