/** Add css rules here for your application.
Please, please comment all entries so that it is clear
which java class/code the style is associated with */

/* start snb */
/* default style for java class Schedule Editor caption panels */
/* begin recurrence dialog ------------------------------------------------------*/

html, body{
  margin: 0px;
  padding: 0px;
}

.schedule-editor-caption-panel {
  margin-top: 6px;
  padding: 5px;
}
.startLabel {
  padding-right: 1ex;
  white-space: nowrap;
  /*border:1px dotted red;*/
}

.middleLabel {
  padding-right: 1ex;
  padding-left: 1ex;
  white-space: nowrap;
  /*border:1px dotted red;*/
}
.endLabel {
  padding-left: 1ex;
  white-space: nowrap;
  /*border:1px dotted red;*/
}

.schedule-label {
  margin-top: 4px;
}

.cron-label {
  margin-top: 6px;
}

.start-date-picker {
  width: 10em;
}

.end-date-picker {
  width: 10em;
}

.recurrenceRadioButton label {
  padding-right: 1ex;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 2px;
}

.recurrenceRadioButton {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.day-of-month-textbox {
  margin-left: 6px;
}

.day-of-week-checkbox {
  padding-left: 4px;
}

.weeklyRecurrencePanel {
}

.popupContent {
  font-family: Tahoma, Ariel, Helvetica, san-serif;
  font-color: #000000;
}

.blue-current-month-selected {
  background-color: #848484;
}

.blue-week-line {
  background-color: #D2D2D2;
}

.blue-month-line {
  background-color: #D2D2D2;
  font-family: Tahoma, Ariel, Helvetica, san-serif;
  font-color: #000000;
  color: #000000;
}

.blue-day-grid {
	border: 1pt solid #848484;
}

.blue-date-picker {
	z-index: 1000;
}

/* begin schedule editor ------------------------------------------------------*/
.scheduleEditor {
  /* can't add a margin here, IE7 can't handle it */
  /*margin: 10px;*/
  /*background-color: #CCCCFF; for testing*/
  width: 100%;
}

.scheduleDescription {
  width: 70%;
  /*background-color: red; for testing */
}

.scheduleCombo {
  margin-right: 5px;
}
/* end schedule editor ----------------------------------------------------------*/
/* end recurrence dialog ----------------------------------------------------------*/

/* style for error message associated with dialog controls with invalid data */
.errorLabel {
  background-color: #FFDDDD;
  color: #FF0000;
}

.progressPopupPanel {
  background-color: #EEEEEE;
  border: 1px dotted black;
}
.progressPopupPanel\.label {
}
.addBtn {
  width: 22px;
}
.deleteBtn {
  width: 22px;
}
/* end snb */

.tooltip{
  padding: 5px;
  border: 1px solid #666;
  background-color: #FAFAFA;
  max-width: 150px;
  z-index: 200;
}

.tooltip-label{
  color: #444;
  font-family: Tahoma, Arial, sans-serif;
  font-size: .8em;
}

.roundedbutton{
  height: 27px;
  display: inline;
}

.roundedbutton-label{
  font-family: Tahoma, Arial, sans-serif;
  font-size:.8em;
  line-height: 24px;
  color: #000
}

.roundedbutton-right{
  background: url('style/images/button_right.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-left{
  background: url('style/images/button_left.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-slice{
  background: url('style/images/button_middle.png') repeat-x;
}

.roundedbutton-over{
  cursor: pointer;
}

.roundedbutton-label-over{
  font-family: Tahoma, Arial, sans-serif;
  font-size:.8em;
  line-height: 24px;
  color: #525252
}

.roundedbutton-right-over{
  background: url('style/images/button_right_over.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-left-over{
  background: url('style/images/button_left_over.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-slice-over{
  background: url('style/images/button_middle_over.png') repeat-x;
}

.roundedbutton-label-disabled{
  font-family: Tahoma, Arial, sans-serif;
  font-size:.8em;
  line-height: 24px;
  color: #525252
}

.roundedbutton-right-disabled{
  background: url('style/images/button_right_disabled.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-left-disabled{
  background: url('style/images/button_left_disabled.png');
  width: 7px;
  height: 27px;
}

.roundedbutton-slice-disabled{
  background: url('style/images/button_middle_disabled.png') repeat-x;
}


/* end menubar/menuitem styles ------------------------------------------------------*/

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-checked {
  cursor: hand;
  cursor: pointer;
  background-image:url(style/images/checkbox.png);
  background-position:6px 50%;
  background-repeat:no-repeat;
  padding:3px 20px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-checked-selected {
  background-color: #d0d0d0;  
  vertical-align: bottom;
}

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-unchecked {
  cursor: hand;
  cursor: pointer;
  background-image:url(style/images/checkbox-empty.png);
  background-position:6px 50%;
  background-repeat:no-repeat;
  padding:3px 20px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-unchecked-selected {
  background-color: #d0d0d0;  
  vertical-align: bottom;
}

.disabledMenuItem {
  color: gray;
  cursor: Default;
  padding:3px 20px 3px 20px;
  vertical-align: bottom; 
}

.gwt-MenuItem {
  color: black;
  padding:3px 20px 3px 20px;
}


.gwt-MenuBar {
  cursor: default;
}
.gwt-MenuBar .gwt-MenuItem {
  cursor: hand;
  cursor: pointer;
}
.gwt-MenuBar .gwt-MenuItem-selected {
  color: black;
}
.gwt-MenuBar-horizontal {
}
.gwt-MenuBar-horizontal .gwt-MenuItem {
  color: black;
  padding: 3px 6px 5px;
  vertical-align: bottom;
  border: 1px;
}
.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
  border: 1px solid #848484;
  background-color: #ececec;  
  color: black;
  padding: 2px 5px 4px;
  vertical-align: bottom;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
  width: 1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-left: 1px solid #888888;
  background: white;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
  width: 1px;
  background: white; 
}





.gwt-MenuBar-vertical {
  background-color: #ffffff;  
  margin-top: 0px;
  margin-left: 0px;
  border-top: 1px solid #848484;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #848484;
  padding: 2px;
}
.gwt-MenuBar-vertical table {
  border-collapse: collapse;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
  color: black;
  padding:3px 20px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-selected {
  background-color: #d0d0d0;  
  color: black;  
  vertical-align: bottom;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 0px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 5px;
  
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  height: 1px;
  overflow: hidden;
  border-top: 1px solid #777;
}


.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 4px;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
  background-color: #d0d0d0;
}


.gwt-MenuBarPopup {
  margin: 0px 0px 0px 0px;
  z-index: 110;
}
.gwt-MenuBarPopup .menuPopupTopCenter {
}
html>body .gwt-MenuBarPopup .menuPopupBottomCenter {
}
* html .gwt-MenuBarPopup .menuPopupBottomCenter {
}
.gwt-MenuBarPopup .menuPopupMiddleLeft {
}
html>body .gwt-MenuBarPopup .menuPopupMiddleRight {
}
* html .gwt-MenuBarPopup .menuPopupMiddleRight {
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
}
* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 41px;
  margin-top: -36px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 13px;
  height: 41px;
  margin-left: -5px;
  margin-top: -36px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 49px;
  margin-top: -41px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 13px;
  height: 49px;
  margin-left: -5px;
  margin-top: -41px;
  overflow: hidden;
}

/* end menubar/menuitem styles ------------------------------------------------------*/



/* begin dialog styles ------------------------------------------------------*/

.modalDialogPageBackground {
  opacity: 0.20;
  background-color:  #000000;
  z-index:250;
  filter:alpha(opacity=20)
  
  cursor: wait;
} 

.dialogButtonPanel {
  border-top: 1px solid #848484;
  background-color: #ececec;
}

.gwt-DialogBox {
  background-color: #ececec;
  border: 1px solid #848484;
  z-index: 1000;
  position: absolute;
}

.gwt-DialogBox .Caption {
  background-image: url(style/images/subtoolbar_bg.png);
  background-color: #d3d3d3;
  color: black;
  cursor: move;
  border-bottom: 1px solid #848484;
  text-align: left;
  padding: 6px 0px 6px 5px;
}

.gwt-DialogBox .dialogMiddleCenter {
  height: 100%;
}

.gwt-DialogBox .dialogMiddleCenterInner {
  height: 100%;
}

.login-dialog {
  z-index: 2000;	
 }
 
 .error-login-dialog {
  z-index: 2100;	
 }
 
/* Begin Wizard Styles ------------------------------------------------------ */ 
.pentaho-wizard-deck-panel {
	height: 80%;
	width: 100%;
}

.pentaho-wizard-button-panel {
	height: 100%;
	vertical-align: bottom;
}
.pentaho-wizard-panel {
	height: 100%;
	width: 100%;
}

.pentaho-schedule-create {
	padding: 10px;
	width: 100%;
}

.pentaho-wizard-cancel-button {
	horizontal-align: right;
	vertical-align: bottom;
}

.pentaho-wizard-finish-button {
	horizontal-align: right;
	vertical-align: bottom;
}

.pentaho-wizard-next-button {
	horizontal-align: right;
	vertical-align: bottom;
}

.pentaho-wizard-back-button {
	horizontal-align: right;
	vertical-align: bottom;
}

/* End Wizard Styles -------------------------------------------------------- */

body{
	font-family:Tahoma,Arial,Helvetica,sans-serif;
}
.nowrap{
  white-space: nowrap;	
}

/* begin file chooser styles ------------------------------------------------ */
.fileChooserHeader {
  background-color: #f0f0f0;
  border-bottom: 1px solid #848484;
  border-right: 1px solid #848484;
  padding-left: 5px;
  padding-right: 5px;
}
.fileChooserCell {
  background-color: white;
  padding: 1px 5px;
}


.fileChooserCell-over {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}

/* end file chooser styles ------------------------------------------------ */


/* begin resizable dialogbox styles ------------------------------------------------ */

.dragdrop-handle {
  cursor: ;
}

.dragdrop-draggable {
  zoom: 1; /* IE gain hasLayout */
}

.dragdrop-dragging {
  zoom: normal; /* remove artifacts */
}

.dragdrop-positioner {
  border: 0px dashed #ffffff; /* 0px override from gwt-dnt.css */
  margin: 0px !important;
  zoom: 1; /* IE gain hasLayout */
  z-index: 100;
}

.dragdrop-flow-panel-positioner {
  color: #1E90FF; /* blue */
  display: inline;
  text-align: center;
  vertical-align: middle;
}

.dragdrop-proxy {
}
.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
  opacity: 1;
  filter:alpha(opacity=100)
}

.dragdrop-movable-panel {
  z-index: 200;
  margin: 0px !important;
  border: none !important;
}


/* ------------ WindowExample ------------ */
.resizable-DialogContentWidget {
  padding: 5px;
}

.resizable-DialogHeaderAndContent {
  background-color: #ececec;
  border: 1px solid #848484;
}

.resizable-WindowPanel {
  cursor: default;
  z-index: 1000;
}

.resizable-WindowPanel .resizable-WindowPanel-header {
  padding: 5px;
  background-image: url(style/images/subtoolbar_bg.png);
  color: black;
  overflow: hidden;
  cursor: move;
}

.dialog-resize-nw {
  cursor: nw-resize;
}

.dialog-resize-n {
  cursor: n-resize;
}

.dialog-resize-ne {
  cursor: ne-resize;
}

.dialog-resize-w {
  cursor: w-resize;
}

.dialog-resize-e {
  cursor: e-resize;
}

.dialog-resize-sw {
  cursor: sw-resize;
}

.dialog-resize-s {
  cursor: s-resize;
}

.dialog-resize-se {
  cursor: se-resize;
}

.custom-list-item {
  white-space: nowrap;
}

.combo-arrow{
  padding: 4px;
  background: url("arrow_slice.png");
  background-repeat: repeat-x;
  border: 1px outset gray;
  cursor: pointer;
}

.combo-arrow-disabled{
  padding: 4px;
  background: url("arrow_slice.png");
  background-repeat: repeat-x;
  border-left: 1px solid #ececec;
  border-top: 1px solid #ececec;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  cursor: pointer;
}

.custom-list{
 padding: 0px;
  margin: 0px;
  border: 1px solid gray;
  background-color: white;
}


.custom-list-disabled{
 padding: 0px;
  margin: 0px;
  border: 1px solid gray;
  background-color: #ddd;
}


.drop-popup{
  background: white;
  border: 1px solid gray;
  z-index: 1350;
  width: auto;
}

.custom-list-item{
  background-color: white;
}

.custom-list-disabled-item{
  background-color: #ddd;
}

.custom-list-item-hover{
  background-color: #DDD;
}

.custom-list-item-selected{
  background-color: #BEBEBE;
}

/* end resizable dialogbox styles ------------------------------------------------ */

.customListBoxTdFix{
  padding: 0px;
  border: 0px;
}


.customButton {
  font-size: 0.85em;
  border: 1px outset #ccc;
  background-color: #ddd;
}
.customButton-down {
  border: 1px inset #ccc;
  cursor:pointer;
}
.customButton-hover {
  border-color: #9cf #69e #69e #7af;
  background-color: #eee;
  cursor:hand;
}
.customButton-disabled {
  color: #888;
  background-color: #ccc;
  cursor:none;
}
.customButton-disabled-hover {
  border: 1px outset #ccc;
}

.color-picker-popup{
  background-color: white;
  border: 1px solid black;
  z-index: 2000;
}

.color-swatch{
	border: 1px solid transparent;
	padding: 3px;
	background-color: white;
	cursor: pointer;
	}
	
	.color-swatch:hover{
  border: 1px solid #bbb;
  padding: 3px;
  background-color: #eee;
  cursor: pointer;
  }
  
  .color-swatch-center{
  height: 10px;
  width: 10px;
  }
	
	
/* GWT Date Picker - BEGIN */	
	
.gwt-DateBox input {
  width: 8em;
}
.dateBoxFormatError {
  background: #ffcccc;
}
.dateBoxPopup {
  z-index: 1200;
}

.gwt-DatePicker {
  border: 1px solid #777777;
  cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 75%;
  text-align: center;
  padding: 4px;
  outline: none;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #CCCCCC;
  padding: 0px 4px 2px;
  cursor: default;
}
.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}
.datePickerDayIsWeekend {
  background: #EEEEEE;
}
.datePickerDayIsFiller {
  color: #888888;
}
.datePickerDayIsValue {
  background: #777777;
  color: white;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
  background: #bbddd9;
}
.datePickerMonthSelector {
  background: #CCCCCC;
  width: 100%;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 70%;
  font-weight: bold;
}
.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}
/* GWT Date Picker - END */	
