/** Add css rules here for your application.
Please, please comment all entries so that it is clear
which java class/code the style is associated with */

/* start snb */
/* default style for java class SimpleGroupBox */
.simpleGroupBox {
	padding: 5px;
}
/* begin recurrence dialog ------------------------------------------------------*/
.startLabel {
	padding-right: 1ex;
	white-space: nowrap;
	/*border:1px dotted red;*/
}
.middleLabel {
	padding-right: 1ex;
	padding-left: 1ex;
	white-space: nowrap;
	/*border:1px dotted red;*/
}
.endLabel {
	padding-left: 1ex;
	white-space: nowrap;
	/*border:1px dotted red;*/
}

.recurrenceRadioButton label {
	padding-right: 1ex;
	white-space: nowrap;
}

.weeklyRecurrencePanel {
}

/* begin schedule editor ------------------------------------------------------*/
.scheduleEditor {
	/* can't add a margin here, IE7 can't handle it */
	/*margin: 10px;*/
	/*background-color: #CCCCFF; for testing*/
	width: 100%;
}

.scheduleDescription {
	width: 85%;
	/*background-color: red; for testing */
}

.scheduleCombo {
	padding-right: 5px;
	margin-right: 5px;
}
/* end schedule editor ----------------------------------------------------------*/
/* end recurrence dialog ----------------------------------------------------------*/

/* style for error message associated with dialog controls with invalid data */
.errorLabel {
	background-color: #FFDDDD;
	color: #FF0000;
}

.progressPopupPanel {
	background-color: #EEEEEE;
	border: 1px dotted black;
}
.progressPopupPanel\.label {
}

/* end snb */